<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/car.jpg">
        <p>My name is Neeraj Singh. I am currently pursuing Btech in Computer Science From Guru Tegh Bahadur Institute Of Technology.
            I have interest in Web Development. This is a project that can be used to get weather information for different locations.
            It is made with the use of weatherstack api which provides the data of the weather in the form of json, we grab that data with the help 
            of nodeJs as backend. And then we render that data on the frontend with the use of handlebars as view engine and by using
            Html, css and client side javascript.
        </p>
    </div>
    
    {{>footer}}
</body>
</html> 