<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Help</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{text}}</p>
        <p>To use this project we just have to input the location to get the weather information. 
            If this location exists, you will get the weather details. If not, it will say unable to find location.
        </p>
    </div>
    
    {{>footer}}
</body>
</html>